/* main index.html */

.main-container {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("../images/hero.jpg");
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-container {
	height: 600px;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.hero-text {
	margin-top: 200px;
	width: 700px;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--four-text-color);
}

.hero-button {
	width: 215px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	background: var(--second-text-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: 0;
	border-radius: 4px;
	color: var(--four-text-color);
	cursor: pointer;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus{
	background: var(--four-text-color);
	color: var(--first-text-color);
	outline: 0;
}
.main-about-ul {
	margin-top: 30px;
	margin-bottom: 95px;
	width: 1170px;
	min-height: 100px;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
}

.main-about-li{
	width: 270px;
}

.main-about-li:not(:first-child){
	margin-left: 30px;
}

.main-about-svg{
	margin-top: 95px;
	width: 1170px;
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
}

.main-about-svg-item:not(:first-child){
	margin-left: 30px;
}

.main-about-svg-item{
	width: 270px;
	height: 120px;
	background-color: var(--four-text-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-text{
	font-weight: 700;
	min-width: auto;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.about-text-p2 {
	margin-top: 10px;
	font-weight: 400;
	min-width: auto;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
}

.main-ourwork-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 95px;
	width: 1170px;
	height: 185px;
	margin-bottom: 95px;
}

.main-work-container{
	margin-left: auto;
	margin-right: auto;
	height: 385px;
	width: 1170px;
	margin-bottom: 95px;
}

.main-h2 {
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 0.03em;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.main-ourwork-ul {
	display: flex;
	width: 1170px;
}

.main-ourwork-li {
	gap: 30px;
	position: relative;
}

.main-ourwork-li:not(:first-child) {
	margin-left: 30px;
}

.ourwork-description{
	position: absolute;
	width: 370px;
	height: 70px;	
	background: rgba(47, 48, 58, 0.8);
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ourwork-description p{
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--four-text-color)
}

.ourteam-container {
	height: 650px;
	margin-top: 95px;
	background-color: var(--four-text-color);
}

.ourteam-ul {
	display: flex;
	align-items: center;
	padding: 0;
	justify-content: center;
}

.ourteam-li:not(:first-child) {
	margin-left: 30px;
}

.ourteam-text-h3{
	margin-top: 30px;
	margin-bottom: 10px;
}

.ourteam-item-box{
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}

.ourteam-social{
	display: flex;
}

.ourteam-social-items{
	display: flex;
	flex-direction: row;
}

.ourteam-social-items:not(:first-child){
	margin-left: 10px;
}

.ourteam-item-link{
	display: flex;
	margin-top: 15px;
}

.link-social{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 0px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus{
	background-color: var(--second-text-color);
	color: var(--four-text-color);
	fill: currentColor;
	outline: 0;
}

.ourteam-svg{
	display: flex;
	height: 20px;
	width: 20px;
	color: currentColor;
}

.general-clients{
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.general-clients-li{
	display: flex;
	width: 170px;
	height: 92px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.general-clients-li:not(:first-child) {
	margin-left: 30px;
}

.general-clients-li:hover,
.general-clients-li:focus {
	color: var(--second-text-color);
	outline: 0;
}

.icon-partners{
	justify-content: center;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%; 
	border: 1px solid var(--border-color);
	border-radius: 4px;
	fill: var(--border-color);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-partners:focus,
.icon-partners:hover{
	border: 1px solid var(--second-text-color);
	fill: var(--second-text-color);
	outline: 0;
}

.svg-partners{
	display: flex;
	width: 106px;
	height: 60px;
}